{
    "podcasts": [
        {
            "wrapperType": "track",
            "kind": "podcast",
            "collectionId": 1200767928,
            "trackId": 1200767928,
            "artistName": "得意忘形播客",
            "collectionName": "得意忘形播客",
            "trackName": "得意忘形播客",
            "collectionCensoredName": "得意忘形播客",
            "trackCensoredName": "得意忘形播客",
            "collectionViewUrl": "https://podcasts.apple.com/cn/podcast/%E5%BE%97%E6%84%8F%E5%BF%98%E5%BD%A2%E6%92%AD%E5%AE%A2/id1200767928?uo=4",
            "feedUrl": "http://rss.lizhi.fm/rss/1959617.xml",
            "trackViewUrl": "https://podcasts.apple.com/cn/podcast/%E5%BE%97%E6%84%8F%E5%BF%98%E5%BD%A2%E6%92%AD%E5%AE%A2/id1200767928?uo=4",
            "artworkUrl30": "https://is5-ssl.mzstatic.com/image/thumb/Podcasts123/v4/91/1d/15/911d1592-a172-dec0-b9f4-01ded8be99cc/mza_3416444043193783755.jpg/30x30bb.jpg",
            "artworkUrl60": "https://is5-ssl.mzstatic.com/image/thumb/Podcasts123/v4/91/1d/15/911d1592-a172-dec0-b9f4-01ded8be99cc/mza_3416444043193783755.jpg/60x60bb.jpg",
            "artworkUrl100": "https://is5-ssl.mzstatic.com/image/thumb/Podcasts123/v4/91/1d/15/911d1592-a172-dec0-b9f4-01ded8be99cc/mza_3416444043193783755.jpg/100x100bb.jpg",
            "collectionPrice": 0.00,
            "trackPrice": 0.00,
            "trackRentalPrice": 0,
            "collectionHdPrice": 0,
            "trackHdPrice": 0,
            "trackHdRentalPrice": 0,
            "releaseDate": "2019-07-30T04:43:00Z",
            "collectionExplicitness": "cleaned",
            "trackExplicitness": "cleaned",
            "trackCount": 55,
            "country": "CHN",
            "currency": "CNY",
            "primaryGenreName": "课程",
            "contentAdvisoryRating": "Clean",
            "artworkUrl600": "https://is5-ssl.mzstatic.com/image/thumb/Podcasts123/v4/91/1d/15/911d1592-a172-dec0-b9f4-01ded8be99cc/mza_3416444043193783755.jpg/600x600bb.jpg",
            "genreIds": [
                "1501",
                "26",
                "1304"
            ],
            "genres": [
                "课程",
                "播客",
                "教育"
            ]
        },
        {
            "wrapperType": "track",
            "kind": "podcast",
            "artistId": 741885933,
            "collectionId": 731738426,
            "trackId": 731738426,
            "artistName": "Blow Your Mind",
            "collectionName": "Blow Your Mind",
            "trackName": "Blow Your Mind",
            "collectionCensoredName": "Blow Your Mind",
            "trackCensoredName": "Blow Your Mind",
            "artistViewUrl": "https://podcasts.apple.com/cn/artist/%E8%8D%94%E6%9E%9Dfm%E7%B2%BE%E9%80%89/741885933?uo=4",
            "collectionViewUrl": "https://podcasts.apple.com/cn/podcast/blow-your-mind/id731738426?uo=4",
            "feedUrl": "http://rss.lizhi.fm/rss/14774.xml",
            "trackViewUrl": "https://podcasts.apple.com/cn/podcast/blow-your-mind/id731738426?uo=4",
            "artworkUrl30": "https://is1-ssl.mzstatic.com/image/thumb/Podcasts113/v4/7d/53/08/7d530851-b402-8601-8713-fb6ea82b4a45/mza_2933162547887338064.jpg/30x30bb.jpg",
            "artworkUrl60": "https://is1-ssl.mzstatic.com/image/thumb/Podcasts113/v4/7d/53/08/7d530851-b402-8601-8713-fb6ea82b4a45/mza_2933162547887338064.jpg/60x60bb.jpg",
            "artworkUrl100": "https://is1-ssl.mzstatic.com/image/thumb/Podcasts113/v4/7d/53/08/7d530851-b402-8601-8713-fb6ea82b4a45/mza_2933162547887338064.jpg/100x100bb.jpg",
            "collectionPrice": 0.00,
            "trackPrice": 0.00,
            "trackRentalPrice": 0,
            "collectionHdPrice": 0,
            "trackHdPrice": 0,
            "trackHdRentalPrice": 0,
            "releaseDate": "2019-09-25T23:54:00Z",
            "collectionExplicitness": "explicit",
            "trackExplicitness": "explicit",
            "trackCount": 215,
            "country": "CHN",
            "currency": "CNY",
            "primaryGenreName": "哲学",
            "contentAdvisoryRating": "Explicit",
            "artworkUrl600": "https://is1-ssl.mzstatic.com/image/thumb/Podcasts113/v4/7d/53/08/7d530851-b402-8601-8713-fb6ea82b4a45/mza_2933162547887338064.jpg/600x600bb.jpg",
            "genreIds": [
                "1443",
                "26",
                "1324",
                "1321"
            ],
            "genres": [
                "哲学",
                "播客",
                "社会与文化",
                "商务"
            ]
        },
        {
            "wrapperType": "track",
            "kind": "podcast",
            "collectionId": 1119089237,
            "trackId": 1119089237,
            "artistName": "翻转电台Flip Radio",
            "collectionName": "翻转电台Flip Radio",
            "trackName": "翻转电台Flip Radio",
            "collectionCensoredName": "翻转电台Flip Radio",
            "trackCensoredName": "翻转电台Flip Radio",
            "collectionViewUrl": "https://podcasts.apple.com/cn/podcast/%E7%BF%BB%E8%BD%AC%E7%94%B5%E5%8F%B0flip-radio/id1119089237?uo=4",
            "feedUrl": "http://rss.lizhi.fm/rss/1057263.xml",
            "trackViewUrl": "https://podcasts.apple.com/cn/podcast/%E7%BF%BB%E8%BD%AC%E7%94%B5%E5%8F%B0flip-radio/id1119089237?uo=4",
            "artworkUrl30": "https://is4-ssl.mzstatic.com/image/thumb/Podcasts113/v4/f8/9e/ac/f89eaca9-1936-ec3d-6aa0-25445af08e2e/mza_7165644047705618479.jpg/30x30bb.jpg",
            "artworkUrl60": "https://is4-ssl.mzstatic.com/image/thumb/Podcasts113/v4/f8/9e/ac/f89eaca9-1936-ec3d-6aa0-25445af08e2e/mza_7165644047705618479.jpg/60x60bb.jpg",
            "artworkUrl100": "https://is4-ssl.mzstatic.com/image/thumb/Podcasts113/v4/f8/9e/ac/f89eaca9-1936-ec3d-6aa0-25445af08e2e/mza_7165644047705618479.jpg/100x100bb.jpg",
            "collectionPrice": 0.00,
            "trackPrice": 0.00,
            "trackRentalPrice": 0,
            "collectionHdPrice": 0,
            "trackHdPrice": 0,
            "trackHdRentalPrice": 0,
            "releaseDate": "2019-09-27T04:13:00Z",
            "collectionExplicitness": "cleaned",
            "trackExplicitness": "cleaned",
            "trackCount": 300,
            "country": "CHN",
            "currency": "CNY",
            "primaryGenreName": "个人日记",
            "contentAdvisoryRating": "Clean",
            "artworkUrl600": "https://is4-ssl.mzstatic.com/image/thumb/Podcasts113/v4/f8/9e/ac/f89eaca9-1936-ec3d-6aa0-25445af08e2e/mza_7165644047705618479.jpg/600x600bb.jpg",
            "genreIds": [
                "1302",
                "26",
                "1324",
                "1443"
            ],
            "genres": [
                "个人日记",
                "播客",
                "社会与文化",
                "哲学"
            ]
        },
        {
            "wrapperType": "track",
            "kind": "podcast",
            "collectionId": 1413097540,
            "trackId": 1413097540,
            "artistName": "宝婷",
            "collectionName": "不可理论",
            "trackName": "不可理论",
            "collectionCensoredName": "不可理论",
            "trackCensoredName": "不可理论",
            "collectionViewUrl": "https://podcasts.apple.com/cn/podcast/%E4%B8%8D%E5%8F%AF%E7%90%86%E8%AE%BA/id1413097540?uo=4",
            "feedUrl": "https://feeds.fireside.fm/bukelilun/rss",
            "trackViewUrl": "https://podcasts.apple.com/cn/podcast/%E4%B8%8D%E5%8F%AF%E7%90%86%E8%AE%BA/id1413097540?uo=4",
            "artworkUrl30": "https://is3-ssl.mzstatic.com/image/thumb/Podcasts123/v4/5a/71/c9/5a71c965-59ef-12e1-088b-3a0756c58ff8/mza_6542579808478834961.jpg/30x30bb.jpg",
            "artworkUrl60": "https://is3-ssl.mzstatic.com/image/thumb/Podcasts123/v4/5a/71/c9/5a71c965-59ef-12e1-088b-3a0756c58ff8/mza_6542579808478834961.jpg/60x60bb.jpg",
            "artworkUrl100": "https://is3-ssl.mzstatic.com/image/thumb/Podcasts123/v4/5a/71/c9/5a71c965-59ef-12e1-088b-3a0756c58ff8/mza_6542579808478834961.jpg/100x100bb.jpg",
            "collectionPrice": 0.00,
            "trackPrice": 0.00,
            "trackRentalPrice": 0,
            "collectionHdPrice": 0,
            "trackHdPrice": 0,
            "trackHdRentalPrice": 0,
            "releaseDate": "2019-08-10T09:00:00Z",
            "collectionExplicitness": "cleaned",
            "trackExplicitness": "cleaned",
            "trackCount": 25,
            "country": "CHN",
            "currency": "CNY",
            "primaryGenreName": "哲学",
            "contentAdvisoryRating": "Clean",
            "artworkUrl600": "https://is3-ssl.mzstatic.com/image/thumb/Podcasts123/v4/5a/71/c9/5a71c965-59ef-12e1-088b-3a0756c58ff8/mza_6542579808478834961.jpg/600x600bb.jpg",
            "genreIds": [
                "1443",
                "26",
                "1324",
                "1302"
            ],
            "genres": [
                "哲学",
                "播客",
                "社会与文化",
                "个人日记"
            ]
        },
        {
            "wrapperType": "track",
            "kind": "podcast",
            "collectionId": 1243945491,
            "trackId": 1243945491,
            "artistName": "益康糯米",
            "collectionName": "文化土豆 Culture Potato",
            "trackName": "文化土豆 Culture Potato",
            "collectionCensoredName": "文化土豆 Culture Potato",
            "trackCensoredName": "文化土豆 Culture Potato",
            "collectionViewUrl": "https://podcasts.apple.com/cn/podcast/%E6%96%87%E5%8C%96%E5%9C%9F%E8%B1%86-culture-potato/id1243945491?uo=4",
            "feedUrl": "http://www.spreaker.com/show/2571819/episodes/feed",
            "trackViewUrl": "https://podcasts.apple.com/cn/podcast/%E6%96%87%E5%8C%96%E5%9C%9F%E8%B1%86-culture-potato/id1243945491?uo=4",
            "artworkUrl30": "https://is1-ssl.mzstatic.com/image/thumb/Podcasts123/v4/23/4d/ef/234def1c-62a3-ff1a-ef1e-062808c4e56a/mza_4628057620371148220.jpg/30x30bb.jpg",
            "artworkUrl60": "https://is1-ssl.mzstatic.com/image/thumb/Podcasts123/v4/23/4d/ef/234def1c-62a3-ff1a-ef1e-062808c4e56a/mza_4628057620371148220.jpg/60x60bb.jpg",
            "artworkUrl100": "https://is1-ssl.mzstatic.com/image/thumb/Podcasts123/v4/23/4d/ef/234def1c-62a3-ff1a-ef1e-062808c4e56a/mza_4628057620371148220.jpg/100x100bb.jpg",
            "collectionPrice": 0.00,
            "trackPrice": 0.00,
            "trackRentalPrice": 0,
            "collectionHdPrice": 0,
            "trackHdPrice": 0,
            "trackHdRentalPrice": 0,
            "releaseDate": "2019-09-27T21:42:00Z",
            "collectionExplicitness": "cleaned",
            "trackExplicitness": "cleaned",
            "trackCount": 116,
            "country": "CHN",
            "currency": "CNY",
            "primaryGenreName": "艺术",
            "contentAdvisoryRating": "Clean",
            "artworkUrl600": "https://is1-ssl.mzstatic.com/image/thumb/Podcasts123/v4/23/4d/ef/234def1c-62a3-ff1a-ef1e-062808c4e56a/mza_4628057620371148220.jpg/600x600bb.jpg",
            "genreIds": [
                "1301",
                "26",
                "1309"
            ],
            "genres": [
                "艺术",
                "播客",
                "电视与电影"
            ]
        }
    ]
}